#index_detail{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justifu-content: flex-start;
    align-items: center;
    border: 1px solid red;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#index_detail li{
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    word-wrap: break-word;
    border-bottom: 1px solid grey;
}