extends ../layout/layout.pug

block style
    style(type='text/css').
        #list-container{
            margin: 0;
            padding: 0;
            list-style: none;
        }

block content
    h1 crawler test
    ul#list-container
        li 
            a(href='/cnode?page1') cnode community No.1 page detail
        li 
            a(href='/cnode?page2') cnode community No.2 page detail
        li 
            a(href='/data') data driven view
